body {
  background: #fff;
  color: #202023;
}

p,
label {
  color: rgb(74, 74, 79);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #202023;
    color: #fff;
  }

  p,
  label {
    color: rgb(177, 177, 179);
  }
}