body {
    margin-left: 0.5rem;
    background: hsl(0, 0, 96%);
    color: hsl(0, 0, 4%);
}

label {
    color: hsl(0, 0, 30%);
}

@media (prefers-color-scheme: dark) {
    body {
        margin-left: 0.5rem;
        background: hsl(0, 0, 4%);
        color: hsl(0, 0, 96%);
    }
    label {
        color: hsl(0, 0, 70%);
    }
}

h1 {
    font-size: 1.2rem;
}

textarea {
    margin: 1rem 0rem;
}